html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background-color: rgb(17, 24, 39);
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

#readmeContent h1 {
	display: block;
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	color: #fff;
	border-bottom: 1px solid #666;
}

#readmeContent h2 {
	display: block;
	font-size: 1.5em;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	color: #fff;
	border-bottom: 1px solid #666;
}

#readmeContent h3 {
	display: block;
	font-size: 1.17em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	color: #fff;
}

#readmeContent h4 {
	display: block;
	margin-top: 1.33em;
	margin-bottom: 1.33em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	color: #fff;
}

#readmeContent ul {
	display: block;
	list-style: disc outside none;
	margin: 1em 0;
	padding: 0 0 0 40px;
}

#readmeContent li {
	display: list-item;
}

#readmeContent p {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
}

#readmeContent pre {
	display: block;
	font-family: monospace;
	white-space: pre;
	margin: 1em 0;
}

#readmeContent code {
	font-family: monospace;
	margin-left: 1em;
}

#readmeContent>div {
	display: flex;
	margin-bottom: 1em;
}

#readmeContent>div>img {
	margin-right: 1em;
}